@import './src/styles/main_style.scss';

.container {
    padding: 5% 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $beige;
}

.text {
    margin: 0 0 35px 0;
    @extend %header_learn_words;

    span {
        font-size: 40px;
    }
}

.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prev-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark_green;
    border-radius: 7px;

    &:hover {
        cursor: pointer;
        background-color: #0e2d22ad;
        transition: all 200ms ease;
    }

    img {
        margin: 10px 15px;
    }
}

.next-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark_green;
    border-radius: 7px;
    transform: rotate(180deg);

    &:hover {
        cursor: pointer;
        background-color: #0e2d22ad;
        transition: all 200ms ease;
    }

    img {
        margin: 10px 15px;
    }
}